header{
    padding: 20px 0;
    text-align: center;
}

header a{
    display: inline-block;
    padding: 10px 20px;
    color: #ddd;
    text-decoration: none;
}

header a.active {
    color: #f90;
}

header.dark{
    background-color: #333;
}
header.dark a{
    background-color: #333;
    color: #ddd;
}

header.light{
    background-color: #ddd;
}
header.light a{
    color: #333;
}