.film {
    display: inline-block;
    margin: 20px 10px 20px 10px;
    padding: 10px;
}

.filterBar{
    padding: 10px;
    float: right;
    background-color: grey;
}

.film .dark{
    background-color: rgb(125, 125, 125);
}

.film .light{
    background-color: #ffe9ce;
}

.film .blue{
    background-color: #9ab0ff;
}